<h1>Posts by John</h1>
<img src='http://example.com/johndoe' />

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan=3>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts.where(author: 'John Doe') %>
  </tbody>
</table>

<h1>Posts by Jane</h1>
<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan=3>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts.where(author: 'Jane Doe') %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
